<aside class="side-nav">
    <!-- <div class="text-center">
        <img src="../../../assets/img/logo.png" class="w-50 my-2" alt="">
    </div> -->
    <div class="text-center py-4 bg-info text-white">
        <img src="https://ui-avatars.com/api/?size=100&name=Edinson Castillo" alt="" class="rounded-circle img-user">
        <div class="mt-2">
            <h2 class="mb-0">Edinson Castillo</h2>
            <span>administrador!</span>
        </div>
    </div>

    <ul class="p-0">
        <li>
            <div routerLink="info" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted text-muted">info</mat-icon>
                <span class="text-muted">Información</span>
            </div>
        </li>
        <li>
            <div routerLink="zona" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted text-muted">pin_drop</mat-icon>
                <span class="text-muted">Zonas comerciales</span>
            </div>
        </li>
        <li>
            <div routerLink="productos" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted">production_quantity_limits</mat-icon>
                <span class="text-muted">Productos</span>
            </div>
        </li>
        <li>
            <div routerLink="cliente" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted">people</mat-icon>
                <span class="text-muted">Clientes</span>
            </div>
        </li>
        <li>
            <div routerLink="vendedores" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted">person_add</mat-icon>
                <span class="text-muted">Vendedores</span>
            </div>
        </li>
        <li>
            <div routerLink="factura" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted">request_quote</mat-icon>
                <span class="text-muted">Facturas</span>
            </div>
        </li>
        <li>
            <div routerLink="cuentasxcobrar" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted">post_add</mat-icon>
                <span class="text-muted">Cuentas por cobrar</span>
            </div>
        </li>
        <li>
            <div routerLink="estadisticas" class="cursor py-3 text-center">
                <mat-icon class="icon text-muted">stacked_line_chart</mat-icon>
                <span class="text-muted">Estadísticas</span>
            </div>
        </li>
    </ul>

</aside>