.mat-expansion-panel-header.mat-expanded {
    height: 48px!important;
}

mat-expansion-panel {
    box-shadow: none!important;
    background: #f9f9f9;
}

.icon {
    margin-right: 5px;
}

.cursor {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}

span {
    font-size: 15px!important;
}


