<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                    class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center">
                    <div class="text-white">© Copyright 2021 <strong>Go sale.</strong> Todos los derechos
                        reservados.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>